<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @order.number %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer.name %>
</p>

<p>
  <strong>Order Item:</strong>
  <ol>
  <% @order_items.each do |oi| %>
  <li> <%= oi.product.name %>, qty: <%= oi.qty %> </li>
  <% end %>
</ol>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
